<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <meta name="description"
      content="Haxbli makes open-source electronic musical instruments."/>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/index.xml">
    <title>{{.Title}}</title>
    <style>
    * {
      margin:  0;
      padding: 0;
    }
    body {
      margin:        auto;
      margin-top:    2em;
      max-width:     30em;
      font-family:   sans-serif;
      font-size:     calc(0.8rem + 0.65vw); /* [iPhone 6, 1080p] -> [15, 25]px */
      padding-left:  1em;
      padding-right: 1em;
      line-height:   1.4;
      background:    black;
      color:         white;
    }
    img { height: 1em; }
    p {
      margin-bottom: 1em;
    }
    h1, h2 {
      margin-top:    1em;
    }
    h1 { font-size: 1.3em; }
    h2 { font-size: 1.0em; }
    a {
      color:           white;
      text-decoration: underline;
    }
    a:visited { color: #aaa; }
    li { margin-left: 1em; }
    header { display: inline; }
    </style>
  </head>
  <body>
    {{.Content}}
  </body>
</html>
