<!doctype html>
<html>
  <head>
    {{partial "head.html"}}
    <title>{{.Title}}</title>
  </head>
  <body>
  {{partial "header.html"}}
  <date>{{.Date.Format "2006 Jan 2"}}</date>
  <h1>{{.Title}}</h1>
  {{.Content}}
  <hr>
  <h2>Feedback</h2>
  <p>Discuss this page by emailing my
    <a href="https://lists.sr.ht/~kdsch/kdsch_inbox">public inbox</a>.
    Please note the
    <a href="https://man.sr.ht/lists.sr.ht/etiquette.md">etiquette</a>
    guidelines.
  </p>
  {{partial "footer.html"}}
  </body>
</html>
