<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description"
	content="kdsch.org is Karl Schultheisz's personal and technical blog."/>
<link rel="alternate" type="application/rss+xml" title="RSS" href="/index.xml">
<link rel="icon" type="image/png" href="/favicon.png" />
<style>
* {
	margin: 0;
	padding: 0;
}

.footnotes, figcaption, date {
	font-size: 87%;
}

a {
	color: black;
	text-decoration: underline;
}

a:visited {
	color: #555;
}

aside {
	margin-left: 1em;
	font-size: 95%;
}

audio {
	width: 100%;
}

blockquote {
	padding-left: 1em;
	font-size: 95%;
	border-left: 1px solid black;
}

body {
	margin: auto;
	margin-top: 2em;
	max-width: 35em;
	font-family: sans-serif;
	font-size: calc(0.8rem + 0.65vw); /* [iPhone 6, 1080p] -> [15, 25]px */
	padding-left: 1em;
	padding-right: 1em;
	line-height: 1.4;
}

h1, h2 {
	margin-top: 1em;
}

h1 {
	font-size: 1.3em;
}

h2 {
	font-size: 1.0em;
}

header {
	display: inline;
}

hr {
	border: 1px solid black;
	margin-bottom: 2em;
	margin-top: 2em;
}

img {
	width: 100%;
}

p, hr, pre, ul {
	margin: 1em;
	margin-left: 0;
}

pre {
	margin-left: 2em;
	line-height: 1.4;
	font-size: 0.9em;
	tab-size: 2;
}

ol, li {
	margin-left: 1em;
}

td, th {
	padding-left: 1em;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: black;
	}

	body {
		color: white;
	}

	a {
		color: white;
	}

	a:visited {
		color: #aaa;
	}

	hr {
		border: 1px solid white;
	}

	blockquote {
		border-left: 1px solid white;
	}
}
</style>
