<!DOCTYPE html>
<html lang="en">
  <head>
    {{partial "head.html"}}
    <title>{{.Title}}</title>
  </head>
  <body>
    {{partial "header.html"}}
    {{.Content}}
    {{partial "footer.html"}}
  </body>
</html>
